body {
    background-color: #303030 ;
    font-family: 'Courier New', Courier, monospace;
    align-items: center ;
}

.main {
    display: flex ;
}

#timer {
    color: white ;
    text-align: center ;
    font-size: 400% ;
    margin-top: 320px ;
    margin-left: 28% ;
}

.container {
    color: white ;
    margin-left: 5% ;
    margin-top: 210px ;
    flex-direction: row ;
}

.stats {
    text-align: right ;
    line-height: 1.4 ;
}

#scramble {
    color: white ;
    font-size: 200% ; 
    text-align: center ;
    margin-bottom: 5% ;
}

th {
    position: relative ;
    right: 12px ;
}

.solves {
    line-height: 1.4 ;
}

ol {
    height: 150px ;
    width: 100px ;
    overflow: auto ;
}

li { 
    font-weight: bold ;
}

li span {
    font-weight: normal ;
}

.icon-bar {
    margin-top: 50px ;
    margin-left: 25% ;
}

.icon-bar button {
    font-family: 'Courier New', Courier, monospace ;
    font-size: 100% ;
    background-color: #EDCC0C ;
    border-radius: 8px ;
    border: none ;
    padding-top: 5px ;
    padding-bottom: 5px ;
    padding-right: 8px ;
    padding-left: 8px ;
}

.icon-bar button:hover{
    background-color: #A48D0A;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    top: 20%;
    background-color: #999997 ;
    border-radius: 15px;
    z-index: 2 ;
}

.flex {
    display: flex ;
    flex-direction: row ;
    justify-content: center ;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden {
    display: none ;
}
