body {
    /*background-color: #303030 ;*/
    background: no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: var(--background-color) ;
    background-image: var(--background-image) ;
    font-family: var(--font-family) ;
    align-items: center ;
}

.main {
    display: flex ;
}

#timer {
    color: var(--color) ;
    text-align: center ;
    font-size: 400% ;
    margin-top: 320px ;
    margin-left: 28% ;
}

.container {
    color: var(--color) ;
    margin-left: 5% ;
    margin-top: 210px ;
    flex-direction: row ;
}

.stats {
    text-align: right ;
    line-height: 1.4 ;
}

#scramble {
    color: var(--color) ;
    font-size: 200% ; 
    text-align: center ;
    margin-bottom: 5% ;
}

th {
    position: relative ;
    right: 12px ;
}

.solves {
    line-height: 1.4 ;
}

ol {
    height: 150px ;
    width: 100px ;
    overflow: auto ;
}

li { 
    font-weight: bold ;
}

li span {
    font-weight: normal ;
}

.icon-bar {
    margin-top: 50px ;
    margin-left: 25% ;
}

.icon-bar button {
    font-family: var(--font-family) ;
    font-size: 100% ;
    color: var(--cmd-btn-font) ;
    background-color: var(--cmd-btn) ; 
    border-radius: 8px ;
    border: none ;
    padding-top: 5px ;
    padding-bottom: 5px ;
    padding-right: 8px ;
    padding-left: 8px ;
}

.icon-bar button:hover{
    background-color: var(--hover-color) ;
}

.modal, .themeModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    top: 20%;
    background-color: var(--cmd-modal) ;
    color: var(--modal-text) ;
    border-radius: 15px;
    z-index: 2 ;
}

.flex {
    display: flex ;
    flex-direction: row ;
    justify-content: center ;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden {
    display: none ;
}

#scrambleSection {
    text-align: center ;
}

.themeModal button {
    font-size: 100% ;
    border-radius: 8px ;
    border: none ;
    padding-top: 5px ;
    padding-bottom: 5px ;
    padding-right: 12px ;
    padding-left: 12px ;
    margin-top: 10px ;
    margin-bottom: 10px ;
}

#classyBtn {
    color: #EDCC0C ;
    background-color: #303030 ; 
}

#classyBtn:hover{
    background-color: #A48D0A ;
    color: #303030 ;
}

#sunsetBtn {
    background-color: #463170 ; 
    color: #CD1334 ;
}

#sunsetBtn:hover {
    color: #463170 ;
    background-color: #B83143 ;
}

#vintageBtn {
    background-color: #473C38 ;
    color: #A2670A ;
}

#vintageBtn:hover {
    background-color: #A2670A ;
    color: #473C38 ;
}

#jungleBtn {
    background-color: #243630 ;
    color: #b39974 ; 
}

#jungleBtn:hover {
    color: #243630 ;
    background-color: #5B846F  ;
}

#halloweenBtn {
    background-color: #6403E2 ;
    color: #c1fd72 ;
}

#halloweenBtn:hover {
    color: #6403E2 ;
    background-color: #c1fd72 ;
}

#retroBtn {
    color: #A35752 ;
    background-color: #346262 ;
}

#retroBtn:hover {
    color: #346262 ;
    background-color: #A35752 ;
}

.themeBtnContainer {
    text-align: center ;
}

.classyOGTheme {
    --background-color: #303030 ;
    --font-family: 'Courier New', Courier, monospace ;
    --color: white ;
    --cmd-btn: #EDCC0C ;
    --cmd-btn-font: black ;
    --hover-color: #A48D0A; ;
    --timerDownColor: #EDCC0C ;
    --cmd-modal: #999997 ;
    --modal-text: black ;
}

.sunsetTheme {
    --background-color: #463170 ;
    --background-image: linear-gradient(to bottom right, #2D0089, #9D2D72);
    --font-family: 'Courier New', Courier, monospace ;
    --color: #FFDE59 ;
    --cmd-btn: #CD1334 ;
    --cmd-btn-font: #FFDE59 ;
    --hover-color: #790E21 ;
    --timerDownColor: #CD1334 ;
    --cmd-modal: #8C2794 ;
    --modal-text: #FFDE59 ;
}

.vintageTheme {
    --background-color: #473C38 ;
    --font-family: 'Courier New', Courier, monospace ;
    --color: #C4A092 ;
    --cmd-btn: #A2670A ;
    --hover-color: #6B4408 ;
    --timerDownColor: #A2670A ;
    --cmd-modal: #C4A092 ;
    --modal-text: #473C38 ;
}

.jungleTheme {
    --background-color: #243630 ;
    --font-family: 'Courier New', Courier, monospace ;
    --color: #b39974 ;
    --cmd-btn: #5B846F ;
    --hover-color: #26372E ;
    --timerDownColor: #5B846F ;
    --cmd-modal: #b39974 ;
    --modal-text: #26372E ;
}

.halloweenTheme {
    --background-color: #232101 ;
    --font-family: 'Courier New', Courier, monospace ;
    --color: #c1fd72 ;
    --cmd-btn: #6403E2 ;
    --hover-color: #350276 ;
    --timerDownColor: #6403E2 ;
    --cmd-modal: #000323 ;
    --modal-text: #c1fd72 ;
}

.retroTheme {
    --background-image: linear-gradient(to bottom right, #A35752, #B27541);
    --font-family: 'Courier New', Courier, monospace ;
    --color: #346262 ;
    --cmd-btn: #D6AD09 ;
    --hover-color: #593A2D ;
    --timerDownColor: #D6AD09 ;
    --cmd-modal: #485D5D ;
    --modal-text: #D6AD09 ;
}